.signUpScreen{
    max-width: 300px;
    padding: 70px;
    background-color: rgba(0,0,0,.85);
    margin-left: auto;
    margin-right: auto;
}

.signUpScreen form{
    display: grid;
    flex-direction: column;
}

.signUpScreen form input{
    outline: 0;
    height: 40px;
    border: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px 15px;
}

.signUpScreen form button{
    padding: 16px 20px;
    font-size: 16px;
    color: #fff;
    border:0;
    border-radius: 5px;
    background-color: #e50914;
    cursor: pointer;
    margin-bottom: 20px;
}

.signUpScreen form h4{
    color: gray;
}

.signUpScreen form h4 span{
    color: #fff;
}
