.navigation {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 40px;
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease-in 0s;
}

.navigation_content {
  display: flex;
  justify-content: space-between;
}
.navigation_content .logo {
  width: 80px;
  position: fixed;
  cursor: pointer;
  top: 10px;
  left: 20px;
}

.navigation_avatar {
  width: 30px;
  position: fixed;
  cursor: pointer;
  top: 10px;
  right: 20px;
}
.navigation_black {
  background: #000;
}
